body {
  margin: 0;
  text-align: center;
  font-family: 'Uchen', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Lobster', cursive;
  font-size: 5.625em;
  text-shadow: 2px 2px 5px #000000;
  color: #66BFBF;
}

h2 {
  font-family: 'Otomanopee One', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  text-shadow: 1px 1px 3px #000000;
}

h3 {
  font-family: 'Otomanopee One', sans-serif;
  color: #11999E;
  text-shadow: 0 0 1px #000000;
}

anchor {
  color: #11999E;
}

hr {
  border-width: 0;
  border-top: 10px dotted #EAF6F6;
  width: 90px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  color: #40514E;
  padding: 50px 0;
}

.bottom-container {
  background-color: #66BFBF;
  color: #EAF6F6;
  padding-top: 20px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.imgprofile {
  border-radius: 50%;
  margin-top: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.image-cs {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.image-rp {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #11999E;
}

.intro {
  padding-bottom: 20px;
}

.contactme {
   background: #3DF670;
   background-image: -webkit-linear-gradient(top, #3DF670, #0B5724);
   background-image: -moz-linear-gradient(top, #3DF670, #0B5724);
   background-image: -ms-linear-gradient(top, #3DF670, #0B5724);
   background-image: -o-linear-gradient(top, #3DF670, #0B5724);
   background-image: -webkit-gradient(to bottom, #3DF670, #0B5724);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 16px;
   line-height: 16px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 179px;
   font-size: 21px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 0 4px 0 2px #000000;
   -moz-box-shadow: 0 4px 0 2px #000000;
   box-shadow: 0 4px 0 2px #000000;
   text-shadow: 1px 1px 5px #000000;
   border: solid #0D772A 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contactme:hover {
   border: solid #0D772A 1px;
   background: #0B5724;
   background-image: -webkit-linear-gradient(top, #0B5724, #3DF670);
   background-image: -moz-linear-gradient(top, #0B5724, #3DF670);
   background-image: -ms-linear-gradient(top, #0B5724, #3DF670);
   background-image: -o-linear-gradient(top, #0B5724, #3DF670);
   background-image: -webkit-gradient(to bottom, #0B5724, #3DF670);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

/******
1em = 16px = 100%

font-family: 'Lobster', cursive;
font-family: 'Otomanopee One', sans-serif;
font-family: 'Uchen', serif;
*******/
